<div class="">
  <div class="navbar">
    <div class="logo">
      <img src="../../../assets/logo-removebg-preview.png" alt="Logo" />
      <h3>3Kings</h3>
      <h3 style="color: #a75d2f">Billiard</h3>
    </div>

    <div class="feature">
      <ul class="main-menu">
        <li>
          <a href="#"><i class="pi pi-palette"></i> Chủ đề</a>
        </li>
        <li>
          <a href="#"><i class="pi pi-comment"></i> Hỗ trợ</a>
        </li>
        <li>
          <a href="#"><i class="pi pi-user"></i> User1408</a>
          <ul class="submenu">
            <li>
              <a href="#"><i class="pi pi-id-card"></i> Thông tin</a>
            </li>
            <li>
              <a href="#"><i class="pi pi-sign-out"></i> Đăng xuất</a>
            </li>
            <li>
              <a href="#"><i class="pi pi-key"></i> Quên mật khẩu</a>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</div>
