.footer_text {
  text-align: center;
  color: white;
  font-size: 20px;
  font-weight: bold;
  margin-top: 20px;
}
footer {
  height: 50px;
  background-color: #333;
  color: black;
  padding: 1em;
  width: 100%;
}
