<body>
  <header>
    <nav>
      <ul class="main-menu">
        <li>
          <a href="#"><i class="pi pi-home"></i> Tổng quan</a>
        </li>
        <li>
          <a href="#"><i class="pi pi-box"></i> Hàng hóa</a>
          <ul class="submenu">
            <li>
              <a href="#"><i class="pi pi-list"></i> Danh mục</a>
            </li>
            <li>
              <a href="#"><i class="pi pi-dollar"></i> Thiết lập giá</a>
            </li>
            <li>
              <a href="#"><i class="pi pi-check-square"></i> Kiểm kho</a>
            </li>
          </ul>
        </li>
        <li>
          <a href="#"><i class="pi pi-dollar"></i> Giao dịch</a>
        </li>
        <li>
          <a href="#"><i class="pi pi-users"></i> Nhân viên</a>
        </li>
        <li>
          <a href="#"><i class="pi pi-chart-line"></i> Báo cáo</a>
        </li>
      </ul>
    </nav>
  </header>
</body>
